<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY SQL CRUD-OPRATION</title>
</head>

<body>

    <form method="get">


        Email : <input type="email" name="email" value="<%= input.email %>"><br><br>

        Password : <input type="password" name="password" value="<%= input.password %>"><br><br>

        <input type="submit"><br><br>
    </form>

    <table border="1" width="40%">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>Action</th>
        </tr>

        <% data.map(el=> { %>
            <tr>

                <td>
                    <%= el.id %>
                </td>
                <td>
                    <%= el.email %>
                </td>
                <td>
                    <%= el.password %>
                </td>
                <td>
                    <a href="/?delid=<%= el.id %>"><button>Delete</button></a>
                    <a href="/?editid=<%= el.id %>"><button>Edit</button></a>
                </td>


            </tr>
            <% }) %>

    </table>

</body>

</html>








<!-- // let DELELE_query = 'DELETE FROM `user`'
    // connection.query(DELELE_query, function (error, results) {
    //     if (error) throw error;

    //     return res.render("index", {data : results})

    // });
    // console.log(DELELE_query) -->